*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: rgb(104, 104, 104);
}

fieldset{
  display: flex;
  flex-direction: column;
  gap: 15px;
    height: 150px;
    border-radius:10px ;
}


