*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(66, 66, 66);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.logo img {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: var(--corprincipal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
