* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(117, 183, 183);
    display: flex;
    position: sticky;
    top: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 350px;
}

.btn {
    width: 120px;
    height: 100px;
    border-radius: .2rem;
    color: black;
    background-color: aliceblue;
    margin: 5%;
    transition: all 0.5s;
}

.btn:hover {
    transform: scale(1.2);
}

a {
    margin: 15px;
}
