* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1A181B;
}

H1 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    background-color: #345995;
    height: 50vh;
    width: 40vw;
    border-radius: 15px;
    border: 2px solid #ddd;
}

.card:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.javascript {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 6em;
    line-height: 1;
}